﻿@model DemoCodeFirst.Models.Student
<div class="modal" tabindex="-1" role="dialog" id="modal-add-student">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="panel panel-primary">
                <div class="panel-heading">ADD STUDENT</div>
                <div class="panel-body">
                    @using (Ajax.BeginForm("Add", "Students", new AjaxOptions()
                    {
                       // InsertionMode = InsertionMode.InsertAfter,
                        HttpMethod = "POST",
                        OnSuccess = "OnSuccess",
                        OnFailure = "OnFailure",
                       // LoadingElementId = "loadingImage",
                       // UpdateTargetId = "my-data"
                    }))
                    {
                    <div class="form-group">
                        @Html.LabelFor(m => m.StudentId)
                        @Html.EditorFor(m => m.StudentId, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FullName)
                        @Html.EditorFor(m => m.FullName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.BirthDay)
                        @Html.EditorFor(m => m.BirthDay, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                        <button type="submit" class="btn btn-primary" id="btnSave">Save</button>

                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
