﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <!-- button open modal ADD STUDENT -->
            <div class="center btn-group">
                <button class="btn btn-success btnAdd" id="btnAdd"><i class="fa fa-plus" aria-hidden="true"></i>Add Student</button>
                <button id="delete-all" class="btn btn-primary center-block">Delete All</button>
            </div>

            <div class="table-responsive">

                <table id="mytable" class="table table-bordred table-striped">

                    <thead>

                    <th><input type="checkbox" id="checkall" /></th>
                    <th>StudentID</th>
                    <th>FullName</th>
                    <th>Birth Day</th>
                    <th>Edit</th>

                    <th>Delete</th>
                    </thead>
                    <tbody id="ListStudent">
                    </tbody>

                </table>

                <div class="clearfix"></div>
                <ul class="pagination pull-right" id="pagination">
                    @*<li class="disabled" id="previous-pagination"><a href="#"><span class="glyphicon glyphicon-chevron-left previous-pagination"></span></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>*@
                </ul>

            </div>

        </div>
    </div>
</div>

@*@Html.Partial("_partial_add_student")*@
<div class="modal" tabindex="-1" role="dialog" id="modal-add-student">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="panel panel-primary">
                <div class="panel-heading">ADD STUDENT</div>
                <div class="panel-body">
                    <input hidden id="id-edit" value="" />
                    <form>

                        <div class="form-group">
                            <label>Student ID</label>
                            <input type="text" class="form-control" id="StudentId" placeholder="Enter Student ID">
                        </div>
                        <div class="form-group">
                            <label>FullName</label>
                            <input type="text" class="form-control" id="FullName" placeholder="Enter FullName">
                        </div>
                        <div class="form-group">
                            <label>Student ID</label>
                            <input type="date" class="form-control" id="BirthDay">
                        </div>
                        <input type="button" class="btn btn-primary" id="btnSave" value="Save" />

                    </form>
                    @*<button type="submit" class="btn btn-primary" id="btnSave">Save</button>*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section MyScript {
    <script>
        var CurrentPage = 1;
        $(document).ready(function () {
            LoadData(CurrentPage);


            //add student
            $('#btnAdd').click(function () {
                $('#StudentId').show();
                $('#id-edit').val("");
                $('#modal-add-student').modal();
            });

            // handle add and edit
            $('#btnSave').click(function () {
                var StudentId = $('#StudentId').val().trim();
                var FullName = $('#FullName').val().trim();
                var BirthDay = $('#BirthDay').val().trim();
                var id = $('#id-edit').val();

                if ($('#id-edit').val().trim().length == 0) {
                    $.ajax({
                        url: "/Students/Add",
                        method: "POST",
                        data: { StudentId: StudentId, FullName: FullName, BirthDay: BirthDay },
                        success: function (data) {
                            if (data.code == 200) {
                                $('#StudentId').val('');
                                $('#FullName').val('');
                                $('#BirthDay').val('');
                                $('#modal-add-student').modal('toggle');
                                //    alert(data.TotalPage)
                                LoadData(data.TotalPage);
                            } else {
                                alert(data.msg);
                            }

                        },
                    });
                } else {
                    $.ajax({
                        url: "/Students/Edit",
                        method: "POST",
                        data: { id: id, FullName: FullName, BirthDay: BirthDay },
                        success: function () {
                            $('#StudentId').val('');
                            $('#FullName').val('');
                            $('#BirthDay').val('');
                            $('#modal-add-student').modal('toggle');
                            CurrentPage = parseInt($('ul#pagination li.active').text());
                            LoadData(CurrentPage);
                        }
                    });
                }

            });

            //delete student
            $(document).on('click', '.delete-student', function () {
                var id = $(this).data('del');
                // var id = $(this).closest('tr').prop('id');
                $.ajax({
                    url: "/Students/Delete",
                    method: "POST",
                    data: { id: id },
                    success: function (data) {
                        alert(data.msg);
                        $("#row-" + id).remove();
                        var length = $('#ListStudent').find("tr").length;
                        if (length == 0) {
                            CurrentPage = parseInt($('ul#pagination li.active').text());
                            LoadData(CurrentPage - 1);
                        } 

                    },
                    error: function (data) {
                        alert(data.msg);
                    }
                });
            });

            //delete all
            $('#checkall').click(function () {
                $('.checkthis').prop('checked', $(this).prop('checked'));
            });

            $('#delete-all').click(function () {
                var selectedID = new Array();
                $('input:checkbox.checkthis').each(function () {
                    if ($(this).prop('checked')) {
                        selectedID.push($(this).val());

                    }
                })

                if (selectedID.length <= 0) {
                    alert("select record to delete !")
                    return;
                } else {
                    $.ajax({
                        url: "/Students/DeleteAll",
                        method: "POST",
                        dataType: "json",
                        data: JSON.stringify(selectedID),
                        contentType: "application/json",
                        success: function (data) {
                            alert(data.msg);
                            for (var i = 0; i < selectedID.length; i++) {
                                $("#row-" + selectedID[i]).remove();
                            }

                            $('#checkall').prop('checked', false);
                            var length = $('#ListStudent').find("tr").length;
                            if (length == 0) {
                                CurrentPage = parseInt($('ul#pagination li.active').text());
                                LoadData(CurrentPage - 1);
                            } 

                        },
                        error: function (data) {
                            alert(data.msg);
                        }
                    });

                }

            });

            //edit student
            $(document).on('click', '.edit-student', function () {
                var id = $(this).data('edit');
                $('#id-edit').val(id);
                $('#StudentId').hide();
                $('#modal-add-student').modal();

            });
        });

        // handle pagination
        $(document).on('click', 'li', function () {
            if ($(this).is($('ul#pagination li.active'))) {
                return;
            }

            CurrentPage = parseInt($(this).text());
            LoadData(CurrentPage);

        });

        // handle pre button
        $(document).on('click', 'li#previous-pagination', function () {
            CurrentPage = parseInt($('ul#pagination li.active').text());
            LoadData(CurrentPage - 1);
        });

        //handle next view
        $(document).on('click', 'li#next-pagination', function () {
            CurrentPage = parseInt($('ul#pagination li.active').text());
            LoadData(CurrentPage + 1);
        });

        // function conveter pattern date
        function ToJavaScriptDate(value) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            //return dt.getDate() + "/" + (dt.getMonth() + 1)  + "/" + dt.getFullYear();
            return moment(dt).format('DD/MM/YYYY');
        }
        //load list student
        function LoadData(pageCurrent) {
            $('#ListStudent').empty();
            $.ajax({
                url: "/Students/ListStudent",
                type: "POST",
                data: { CurrentPage: pageCurrent },
                success: function (data) {
                    if (data.code == 200) {
                        //console.log(data)
                        $.each(data.list, function (i, v) {
                            var tr = '<tr id="' + 'row-' + v.StudentId + '">';
                            tr += '<td><input type="checkbox" class="checkthis" value="' + v.StudentId + '"/></td>';
                            tr += '<td>' + v.StudentId + '</td>';
                            tr += '<td>' + v.FullName + '</td>';
                            tr += '<td>' + ToJavaScriptDate(v.BirthDay) + '</td>';
                            tr += '<td><p data-placement="top" data-toggle="tooltip" title="Edit"><button data-edit="' + v.StudentId + '" class="btn btn-primary btn-xs edit-student" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p></td>';
                            tr += '<td><p data-placement="top" data-toggle="tooltip" title="Delete"><button data-del="' + v.StudentId + '" class="btn btn-danger btn-xs delete-student" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>';
                            tr += "</tr>";
                            $('#ListStudent').append(tr);
                        });


                        //pagination
                        if (data.TotalPage > 1) {
                            $('#pagination').empty();
                            for (var i = 1; i <= data.TotalPage; i++) {
                                if (i == pageCurrent) {
                                    var li = '<li class="active"><a>' + i + '</a></li>';
                                    $('#pagination').append(li);
                                } else {
                                    var li = '<li><a>' + i + '</a></li>';
                                    $('#pagination').append(li);
                                }

                            }
                            if (pageCurrent == 1) {
                                var htmlNext = '<li id="next-pagination"><a><span class="glyphicon glyphicon-chevron-right"></span></a></li>';
                                $('ul#pagination').append(htmlNext);
                            } else if (pageCurrent > 1 && pageCurrent < data.TotalPage) {
                                var htmlPre = '<li id="previous-pagination"><a><span class="glyphicon glyphicon-chevron-left previous-pagination"></span></a></li>';
                                $('ul#pagination').prepend(htmlPre);
                                var htmlNext = '<li id="next-pagination"><a><span class="glyphicon glyphicon-chevron-right"></span></a></li>';
                                $('ul#pagination').append(htmlNext);
                            } else if (pageCurrent == data.TotalPage) {
                                var htmlPre = '<li id="previous-pagination"><a><span class="glyphicon glyphicon-chevron-left previous-pagination"></span></a></li>';
                                $('ul#pagination').prepend(htmlPre);
                            }

                        }

                        //$('ul li.active').click(function () {
                        //    return false;
                        //});
                    }
                }
            });

        }



        function OnSuccess(data) {
            if (data != null) {
                // alert('success')
                $('#FullName').val("");
                $('#StudentId').val("");
                $('#BirthDay').val("");
                $('#modal-add-student').modal('toggle');
                LoadData();
            }
        }


    </script>
}







