﻿@model DemoCodeFirst.Models.Student
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@{Html.BeginForm(); }
<div class="form-group">
    @Html.LabelFor(m => m.StudentId)
    @Html.TextBoxFor(m => m.StudentId, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.FullName)
    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.BirthDay)
    @Html.EditorFor(m => m.BirthDay, new { @class = "form-control" })
</div>
<div>
    <input type="submit" name="Submit" value="Save" />
</div>
@{Html.EndForm();}

