﻿@model PagedList.IPagedList<DemoCodeFirst.Models.Student>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="container">
    <div class="row">


        <div class="col-md-12">

            <div id="my-result"></div>
            <div id="loadingImage"></div>

            <!-- button open modal ADD STUDENT -->
            <div class="center btn-group">
                <button id="add-student" data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block">Add Student</button>
                <button id="delete-all" class="btn btn-primary center-block">Delete All</button>
            </div>

            <h4 id="MyTitle">Bootstrap Snipp for Datatable</h4>
            <div class="table-responsive">


                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                    <th><input type="checkbox" id="checkall" /></th>
                    <th>StudentID</th>
                    <th>FullName</th>
                    <th>Birth Day</th>
                    <th>Edit</th>

                    <th>Delete</th>
                    </thead>
                    <tbody id="my-data">

                        @foreach (var student in Model)
                        {
                            <tr id="row-@student.StudentId">
                                <td><input type="checkbox" class="checkthis" value="@student.StudentId" /></td>
                                <td>@Html.DisplayFor(s => student.StudentId)</td>
                                <td id="FullName-@student.StudentId">@Html.DisplayFor(s => student.FullName)</td>
                                <td id="BirthDay-@student.StudentId">@Html.DisplayFor(s => student.BirthDay)</td>
                                <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button data-edit="@student.StudentId" class="btn btn-primary btn-xs edit-student" data-title="Edit" data-toggle="modal" data-target="#modal-edit"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                                <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button data-del="@student.StudentId" class="btn btn-danger btn-xs delete-student" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                            </tr>

                        }
                    </tbody>
                </table>

                <div class="clearfix"></div>
                <ul class="pagination pull-right">
                    @*<li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>*@
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </ul>

            </div>

        </div>
    </div>
</div>

<!-- line modal ADD STUDENT -->
<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">Add Student</h3>
            </div>
            <div class="modal-body">

                <!-- content goes here -->
                <h2>Create</h2>
                <div id="loadingImage"></div>
                @using (Ajax.BeginForm("Add", "Student", new AjaxOptions()
                {
                    InsertionMode = InsertionMode.InsertAfter,
                    HttpMethod = "POST",
                    OnSuccess = "OnSuccess",
                    OnFailure = "OnFailure",
                    LoadingElementId = "loadingImage",
                    UpdateTargetId = "my-data"
                }))
                {
                    <div class="form-group">
                        @Html.Label("Student Id:")
                        <input type="text" name="Id" id="StudentId" class="form-control" />
                    </div>
                    <div class="form-group">
                        @Html.Label("FullName:")
                        <input type="text" name="FullName" id="FullName" class="form-control" />
                    </div>
                    <div class="form-group">
                        @Html.Label("Birth Day:")
                        <input type="date" name="BirthDay" id="BirthDay" class="form-control" />
                    </div>

                    <button type="submit" class="btn btn-success" id="btnSave">Save</button>

                }

            </div>
        </div>
    </div>
</div>

<!-- line modal EDIT STUDENT -->
<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">Edit Student</h3>
            </div>
            <div class="modal-body">

                <!-- content goes here -->
                <form>
                    <div class="form-group">
                        @Html.Label("FullName:")
                        <input type="text" name="edit-name" id="edit-name" class="form-control" />
                    </div>
                    <div class="form-group">
                        @Html.Label("Birth Day:")
                        <input type="date" name="edit-BirthDay" id="edit-BirthDay" class="form-control" />
                    </div>
                </form>
                <button type="submit" class="btn btn-success" id="btnEdit">Edit</button>



            </div>
        </div>
    </div>
</div>



@section MyScript {
    <script>
        function OnSuccess(data) {
            if (data != null) {
                $('#FullName').val("");
                $('#StudentId').val("");
                $('#BirthDay').val("");

            }
        }
        $(document).ready(function () {
            
            //delete student
            $(document).on('click', '.delete-student', function () {
                var id = $(this).data('del');
                $.ajax({
                    url: "/Student/Delete",
                    method: "POST",
                    data: { id: id },
                    success: function () {
                        $("#row-" + id).remove();
                    }
                });
            });

            //delete all
            $('#checkall').click(function () {
                $('.checkthis').prop('checked', $(this).prop('checked'));
            });

            $('#delete-all').click(function () {
                var selectedID = new Array();
                $('input:checkbox.checkthis').each(function () {
                    if ($(this).prop('checked')) {
                        selectedID.push($(this).val());

                    }
                })

                if (selectedID.length <= 0) {
                    alert("select record to delete !")
                    return;
                } else {
                    $.ajax({
                        url: "/Student/DeleteAll",
                        method: "POST",
                        dataType: "json",
                        data: JSON.stringify(selectedID),
                        contentType: "application/json",
                        success: function (msg) {
                            alert(msg);
                            for (var i = 0; i < selectedID.length; i++) {
                                $("#row-" + selectedID[i]).remove();
                            }

                            $('#checkall').prop('checked', false);

                        }
                    });

                }

            });


            //hide modal add student
            $(document).on('click', '#btnSave', function () {
                $('#squarespaceModal').modal('toggle');
            });


            //edit student
            $(document).on('click', '.edit-student', function () {
                var id = $(this).data('edit');
                $('#btnEdit').click(function () {
                    var name = $('#edit-name').val();
                    var birth = $('#edit-BirthDay').val();
                    $.ajax({
                        url: "/Student/Edit",
                        method: "POST",
                        data: { id: id, FullName: name, BirthDay: birth },
                        success: function () {
                            $("#FullName-" + id).html(name);
                            $("#BirthDay-" + id).html(birth);
                            $('#modal-edit').modal('toggle');
                        }
                    });
                });

            });
        });
    </script>
}













