﻿@model DemoCodeFirst.Models.Student

<tr id="row-@Model.StudentId">
    <td><input type="checkbox" class="checkthis" value="@Model.StudentId" /></td>
    <td>@Html.DisplayFor(s => Model.StudentId)</td>
    <td id="FullName-@Model.StudentId">@Html.DisplayFor(s => Model.FullName)</td>
    <td id="BirthDay-@Model.StudentId">@Html.DisplayFor(s => Model.BirthDay)</td>
    <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button data-edit="@Model.StudentId" class="btn btn-primary btn-xs edit-student" data-title="Edit" data-toggle="modal" data-target="#modal-edit"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button data-del="@Model.StudentId" class="btn btn-danger btn-xs delete-student" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
</tr>
